.navbar {
  align-items: baseline; /* vertically centers logo + nav */
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1.5px solid #eee;
}

.logo img {
  padding-left: 220px;
  height: 65px; /* adjust size as needed */
  margin-left: 20px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-right: 220px;
}

nav a {
  text-decoration: none;
  font-weight: 650;
  color: black;
  font-size: 10px;
  transition: .3s;
  font-family:'Montserrat', sans-serif;
}

nav a:hover {
  opacity: 0.6;
  color:burlywood;
}

.footer {
  background-color: #0d0d0d;
  color: white;
  padding: 60px 60px 30px;
  font-family: 'Montserrat', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.footer-section {
  max-width: 250px;
}

.footer-section h3 {
  font-size: 16px;
  /* margin-bottom: 15px; */
  font-weight: 700;
  color: #d0a67f; /* gold-ish like screenshot */
}

.footer-logo {
  width: 150px;
  /* margin-bottom: 15px; */
}

.footer-section a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 6px 0;
  font-size: 14px;
  transition: .3s;
}

.footer-section a:hover {
  opacity: 0.7;
}

.newsletter-box {
  display: flex;
  margin-top: 10px;
}

.newsletter-box input {
  padding: 10px;
  border: none;
  width: 150px;
}

.newsletter-box button {
  padding: 10px 18px;
  border: none;
  background-color: #d0a67f;
  cursor: pointer;
}

.social-icons a {
  font-size: 14px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.footer-bottom {
  background-color: #583c39; /* brown color */
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

body{
height: 100%;
overflow-y: auto;

}

.body{
  height: 2000px;
  background-color:white;
  padding: 20px;
}

.product img{
  width: 40%;
  height: auto;
}

.menu-details{
  flex-grow: 1;
  padding-left: 40px;
}

.menu-title{
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 25px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  color: dark rgb(83, 13, 13);
}

menu-title::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    width: 100%;
    height: 15px;
}

.menu-flavor{
  display: flex;
  gap: 80px;
}

.flavor-column{
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.flavor-column li{
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  white-space: nowrap;
}