html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
  
  .navbar {
  align-items: baseline; /* vertically centers logo + nav */
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1.5px solid #eee;
  padding-bottom: 20px;
}

.logo img {
  padding-left: 375px;
  height: 120px; /* adjust size as needed */
  margin-left: 20px;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-right: 375px;
}

nav a {
  width: max-content;
  text-decoration: none;
cursor: pointer;
  font-weight: 550;
  position: relative;
  color: black;
  font-size: 17px;
  font-family:'Montserrat', sans-serif;
}

nav a::after{
content: "";
position: absolute;
bottom: -15px;
height: 4px;
width: 100%;
left: 0;
background-color:hsl(34, 51%, 33%);

transition: 0.3s;
transition-timing-function: ease-in-out;
transform: scaleX(0);

}

nav a:hover {
  opacity: 0.6;
  color:hsl(34, 57%, 70%);

}

nav a:hover::after{
  transform: scaleX(1);
}



.footer {
  background-color: #0d0d0d;
  background-size:  auto;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Montserrat', sans-serif;
  
}

.footer-container {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 70px 40px 90px;
  gap: 100px;
  
}

.footer-section {
  max-width: 250px;
}

.footer-section2 h3 {
  padding-top: 1px;
  font-size: 20px;
  /* margin-bottom: 15px; */
  font-weight: 700;
  color:burlywood; /* gold-ish like screenshot */
}

.footer-section h3{
  padding-top: 1px;
  font-size: 20px;
  /* margin-bottom: 15px; */
  font-weight: 700;
  color:burlywood; /* gold-ish like screenshot */
}

.footer-logo {  
  width: 220px;
  /* margin-bottom: 15px; */
}

.footer-section a {
  height: 20px;
  display: block;
  text-decoration: none;
  color: white;
  margin: 15px 0;
  font-size: 17px;
  transition: .3s;
}

.footer-section p {
   font-size: 17px;
}

.footer-section2 p {
   font-size: 17px;
   padding-top: 5px;
}

.footer-section a:hover {
  opacity: 0.7;
}

.newsletter-box {
  display: flex;
  margin-top: 5px;
  padding-top: 20px;
}

.newsletter-box input {
  padding: 15px;
  border: none;
  width: 200px;
}

.newsletter-box button {
  padding: 10px 20px;
  border: none;
  background-color: #fae8dd;
  cursor: pointer;
  
}

.newsletter-box button:hover {
  opacity: 0.9;
  color: #1f1312
}

.social-icons button {
  font-size: 50px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  
}

.footer-bottom {
  background-color: #513130; /* brown color */
  background-repeat: no-repeat;
  background-size:  cover;
  padding: 0px auto 0px auto;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1px;
}

body{
height: 100%;
overflow-y: auto;

}

.body{
  height: 2000px;
  background-color:white;
  padding: 20px;
}

.firstBG{
margin: 0px 0px;
background-image: url(kkopi\ home\ banner.jpg);
 background-attachment:scroll;
 height: 1080px;
 
}

*{
  margin: 0px;

  margin:0px;
 background-attachment: fixed;
}

button{
    width: max-content;
    position: relative;
    cursor: pointer;
}
button::after{
    content: "";
    position: absolute;
    font-weight: 500;
    bottom: -5px;
    height: 1px;
    width: 100%; 
    left: 0;
    background-color: #b3a0a0;
    transition: 0.3s;
    transition-timing-function: easy-in-out;
    transform: scaleX(0)
}
button:hover::after
{
    transform: scaleX(1)}

.footer-section2 p{
    width: max-content;
    position: relative;
    cursor: pointer;
}
.footer-section2 p::after{
    content: "";
    position: absolute;
    font-weight: 500;
    bottom: -5px;
    height: 1px;
    width: 100%; 
    left: 0;
    background-color: #b3a0a0;
    transition: 0.3s;
    transition-timing-function: easy-in-out;
    transform: scaleX(0)
}
.footer-section2 p:hover::after
{
    transform: scaleX(1)}

.footer-section a{
    width: max-content;
    position: relative;
    cursor: pointer;
}
.footer-section a::after{
    content: "";
    position: absolute;
    font-weight: 500;
    bottom: -5px;
    height: 1px;
    width: 100%; 
    left: 0;
    background-color: #b3a0a0;
    transition: 0.3s;
    transition-timing-function: easy-in-out;
    transform: scaleX(0)
}
.footer-section a:hover::after
{
    transform: scaleX(1)}

