  .navbar {
  align-items: baseline; /* vertically centers logo + nav */
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1.5px solid #eee;
  padding-bottom: 20px;
}

.logo img {
  padding-left: 375px;
  height: 120px; /* adjust size as needed */
  margin-left: 20px;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-right: 375px;
}

nav a {
  width: max-content;
  text-decoration: none;
cursor: pointer;
  font-weight: 550;
  position: relative;
  color: black;
  font-size: 17px;
  font-family:'Montserrat', sans-serif;
}

nav a::after{
content: "";
position: absolute;
bottom: -15px;
height: 4px;
width: 100%;
left: 0;
background-color:hsl(34, 51%, 33%);

transition: 0.3s;
transition-timing-function: ease-in-out;
transform: scaleX(0);

}

nav a:hover {
  opacity: 0.6;
  color:hsl(34, 57%, 70%);

}

nav a:hover::after{
  transform: scaleX(1);
}



.footer {
  background-color: #0d0d0d;
  color: white;
  padding: 60px 60px 30px;
  font-family: 'Montserrat', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.footer-section {
  max-width: 250px;
}

.footer-section h3 {
  font-size: 16px;
  /* margin-bottom: 15px; */
  font-weight: 700;
  color: #d0a67f; /* gold-ish like screenshot */
}

.footer-logo {
  width: 150px;
  /* margin-bottom: 15px; */
}

.footer-section a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 6px 0;
  font-size: 14px;
  transition: .3s;
}

.footer-section a:hover {
  opacity: 0.7;
}

.newsletter-box {
  display: flex;
  margin-top: 10px;
}

.newsletter-box input {
  padding: 10px;
  border: none;
  width: 150px;
}

.newsletter-box button {
  padding: 10px 18px;
  border: none;
  background-color: #d0a67f;
  cursor: pointer;
}

.social-icons a {
  font-size: 14px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.footer-bottom {
  background-color: #583c39; /* brown color */
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

body{
height: 100%;
overflow-y: auto;

}

.body{
  height: 2000px;
  background-color:white;
  padding: 20px;
}

.firstBG{
margin: 0px 0px;
background-image: url(kkopi\ home\ banner.jpg);
 background-attachment:scroll;
 height: 1080px;
 
}

*{
  margin: 0px;
}

